<a href="https://colab.research.google.com/github/Subhr74/Git-files/blob/master/data_hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Install and import basics (Colab / local)
!pip install pandas matplotlib seaborn --quiet

import pandas as pd
import glob
import numpy as np

In [2]:
# 2. Set a folder path where you have saved the 12 CSVs
# Example: "/content/aadhaar_data" in Colab or "D:/uidai" on your PC
DATA_DIR = "/content/aadhaar_data"   # <-- CHANGE THIS PATH

# 3. Create full file patterns
bio_pattern  = DATA_DIR + "/api_data_aadhar_biometric_*.csv"
demo_pattern = DATA_DIR + "/api_data_aadhar_demographic_*.csv"
enr_pattern  = DATA_DIR + "/api_data_aadhar_enrolment_*.csv"

In [5]:
# 2. Set a folder path where you have saved the 12 CSVs
# Example: "/content/aadhaar_data" in Colab or "D:/uidai" on your PC
DATA_DIR = "/content/data_hackathon"   # <-- CHANGE THIS PATH

# 3. Create full file patterns
bio_pattern  = DATA_DIR + "/api_data_aadhar_biometric_*.csv"
demo_pattern = DATA_DIR + "/api_data_aadhar_demographic_*.csv"
enr_pattern  = DATA_DIR + "/api_data_aadhar_enrolment_*.csv"

# 4. Read and concatenate biometric CSVs
bio_files = glob.glob(bio_pattern)
print("Biometric files:", bio_files)

df_bio = pd.concat(
    (pd.read_csv(f) for f in bio_files),
    ignore_index=True
)
df_bio.head()

Biometric files: ['/content/data_hackathon/api_data_aadhar_biometric_1000000_1500000.csv', '/content/data_hackathon/api_data_aadhar_biometric_0_500000.csv', '/content/data_hackathon/api_data_aadhar_biometric_500000_1000000.csv', '/content/data_hackathon/api_data_aadhar_biometric_1500000_1861108.csv']

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,07-11-2025,Haryana,Yamuna Nagar,135002,4,6
1,07-11-2025,Haryana,Yamunanagar,135001,1,2
2,07-11-2025,Himachal Pradesh,Bilaspur,174004,2,2
3,07-11-2025,Himachal Pradesh,Bilaspur,174005,1,0
4,07-11-2025,Himachal Pradesh,Bilaspur,174013,3,1

In [6]:
# Biometric: columns = date,state,district,pincode,bio_age_5_17,bio_age_17_
df_bio["date"] = pd.to_datetime(df_bio["date"], format="%d-%m-%Y")
df_bio["month"] = df_bio["date"].dt.to_period("M").dt.to_timestamp()

df_bio["bio_age_5_17"] = pd.to_numeric(df_bio["bio_age_5_17"], errors="coerce").fillna(0)
df_bio["bio_age_17_"]  = pd.to_numeric(df_bio["bio_age_17_"],  errors="coerce").fillna(0)
df_bio["bio_total"]    = df_bio["bio_age_5_17"] + df_bio["bio_age_17_"]

bio_pin_month = (df_bio
    .groupby(["state", "district", "pincode", "month"], as_index=False)
    .agg({
        "bio_age_5_17": "sum",
        "bio_age_17_":  "sum",
        "bio_total":    "sum"
    }))

bio_dist_month = (df_bio
    .groupby(["state", "district", "month"], as_index=False)
    .agg({
        "bio_age_5_17": "sum",
        "bio_age_17_":  "sum",
        "bio_total":    "sum"
    }))

bio_dist_month.head()

,state,district,month,bio_age_5_17,bio_age_17_,bio_total
0,Andaman & Nicobar Islands,Andamans,2025-03-01,16,193,209
1,Andaman & Nicobar Islands,Andamans,2025-04-01,17,167,184
2,Andaman & Nicobar Islands,Andamans,2025-05-01,22,158,180
3,Andaman & Nicobar Islands,Andamans,2025-06-01,11,129,140
4,Andaman & Nicobar Islands,Andamans,2025-07-01,20,239,259

In [10]:
# 1) READ DEMOGRAPHIC DATA
demo_files = glob.glob(demo_pattern)
print("Demographic files:", demo_files)

df_demo = pd.concat(
    (pd.read_csv(f) for f in demo_files),
    ignore_index=True
)

print(df_demo.columns)      # check columns
df_demo.head()

Demographic files: ['/content/data_hackathon/api_data_aadhar_demographic_1500000_2000000.csv', '/content/data_hackathon/api_data_aadhar_demographic_1000000_1500000.csv', '/content/data_hackathon/api_data_aadhar_demographic_2000000_2071700.csv', '/content/data_hackathon/api_data_aadhar_demographic_500000_1000000.csv', '/content/data_hackathon/api_data_aadhar_demographic_0_500000.csv']
Index(['date', 'state', 'district', 'pincode', 'demo_age_5_17',
       'demo_age_17_'],
      dtype='object')

         date      state district  pincode  demo_age_5_17  demo_age_17_
0  18-11-2025  Karnataka    Hasan   573118              0             2
1  18-11-2025  Karnataka    Hasan   573124              1             3
2  18-11-2025  Karnataka    Hasan   573150              0             2
3  18-11-2025  Karnataka   Hassan   573113              0             1
4  18-11-2025  Karnataka   Hassan   573120              1             4

In [11]:
# 2) CLEAN + AGGREGATE DEMOGRAPHIC DATA

# If last two columns are the age groups, rename them if needed
if "demo_age_5_17" not in df_demo.columns:
    cols = list(df_demo.columns)
    df_demo = df_demo.rename(columns={
        cols[-2]: "demo_age_5_17",
        cols[-1]: "demo_age_17_"
    })

# Parse date and create month column
df_demo["date"] = pd.to_datetime(df_demo["date"], format="%d-%m-%Y")
df_demo["month"] = df_demo["date"].dt.to_period("M").dt.to_timestamp()

# Numeric conversion and totals
df_demo["demo_age_5_17"] = pd.to_numeric(df_demo["demo_age_5_17"], errors="coerce").fillna(0)
df_demo["demo_age_17_"]  = pd.to_numeric(df_demo["demo_age_17_"],  errors="coerce").fillna(0)
df_demo["demo_total"]    = df_demo["demo_age_5_17"] + df_demo["demo_age_17_"]

# Aggregate to pincode-month
demo_pin_month = (df_demo
    .groupby(["state", "district", "pincode", "month"], as_index=False)
    .agg({
        "demo_age_5_17": "sum",
        "demo_age_17_":  "sum",
        "demo_total":    "sum"
    }))

# Aggregate to district-month
demo_dist_month = (df_demo
    .groupby(["state", "district", "month"], as_index=False)
    .agg({
        "demo_age_5_17": "sum",
        "demo_age_17_":  "sum",
        "demo_total":    "sum"
    }))

demo_dist_month.head()

,state,district,month,demo_age_5_17,demo_age_17_,demo_total
0,100000,100000,2025-12-01,0,2,2
1,Andaman & Nicobar Islands,Andamans,2025-09-01,3,159,162
2,Andaman & Nicobar Islands,Andamans,2025-10-01,2,73,75
3,Andaman & Nicobar Islands,Andamans,2025-11-01,0,212,212
4,Andaman & Nicobar Islands,Andamans,2025-12-01,2,299,301

In [12]:
# 1) READ ENROLMENT DATA
enr_files = glob.glob(enr_pattern)
print("Enrolment files:", enr_files)

df_enr = pd.concat(
    (pd.read_csv(f) for f in enr_files),
    ignore_index=True
)

print(df_enr.columns)
df_enr.head()

Enrolment files: ['/content/data_hackathon/api_data_aadhar_enrolment_1000000_1006029.csv', '/content/data_hackathon/api_data_aadhar_enrolment_0_500000.csv', '/content/data_hackathon/api_data_aadhar_enrolment_500000_1000000.csv']
Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

         date      state district  pincode  age_0_5  age_5_17  age_18_greater
0  31-12-2025  Karnataka    Bidar   585330        2         3               0
1  31-12-2025  Karnataka    Bidar   585402        6         0               0
2  31-12-2025  Karnataka    Bidar   585413        1         0               0
3  31-12-2025  Karnataka    Bidar   585418        1         2               0
4  31-12-2025  Karnataka    Bidar   585421        4         3               0

In [13]:
# 2) CLEAN + AGGREGATE ENROLMENT DATA

df_enr["date"] = pd.to_datetime(df_enr["date"], format="%d-%m-%Y")
df_enr["month"] = df_enr["date"].dt.to_period("M").dt.to_timestamp()

df_enr["age_0_5"]        = pd.to_numeric(df_enr["age_0_5"],        errors="coerce").fillna(0)
df_enr["age_5_17"]       = pd.to_numeric(df_enr["age_5_17"],       errors="coerce").fillna(0)
df_enr["age_18_greater"] = pd.to_numeric(df_enr["age_18_greater"], errors="coerce").fillna(0)
df_enr["enr_total"]      = df_enr["age_0_5"] + df_enr["age_5_17"] + df_enr["age_18_greater"]

enr_pin_month = (df_enr
    .groupby(["state", "district", "pincode", "month"], as_index=False)
    .agg({
        "age_0_5":        "sum",
        "age_5_17":       "sum",
        "age_18_greater": "sum",
        "enr_total":      "sum"
    }))

enr_dist_month = (df_enr
    .groupby(["state", "district", "month"], as_index=False)
    .agg({
        "age_0_5":        "sum",
        "age_5_17":       "sum",
        "age_18_greater": "sum",
        "enr_total":      "sum"
    }))

enr_dist_month.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,enr_total
0,100000,100000,2025-09-01,0,0,12,12
1,100000,100000,2025-10-01,0,1,0,1
2,100000,100000,2025-11-01,0,0,11,11
3,100000,100000,2025-12-01,0,0,194,194
4,Andaman & Nicobar Islands,Andamans,2025-09-01,23,4,0,27

In [16]:
import numpy as np

def add_z_scores(df, group_cols, value_col, window=6):
    """
    For each group, compute rolling mean/std and z-score for value_col.
    """
    df = df.sort_values(group_cols + ["month"])
    df[value_col] = df[value_col].astype(float)

    def _per_group(g):
        g = g.sort_values("month")
        roll_mean = g[value_col].rolling(window=window, min_periods=3).mean()
        roll_std  = g[value_col].rolling(window=window, min_periods=3).std()
        g[value_col + "_exp"] = roll_mean
        g[value_col + "_std"] = roll_std.replace(0, np.nan)
        g[value_col + "_z"]   = (g[value_col] - g[value_col + "_exp"]) / g[value_col + "_std"]
        return g

    return df.groupby(group_cols, group_keys=False).apply(_per_group)

In [17]:
dist_month_z = dist_month.copy()

for col in ["enr_total", "bio_total", "demo_total"]:
    dist_month_z = add_z_scores(dist_month_z, ["state", "district"], col, window=6)

dist_month_z.head()

/tmp/ipython-input-1204755042.py:19: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return df.groupby(group_cols, group_keys=False).apply(_per_group)
/tmp/ipython-input-1204755042.py:19: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return df.groupby(group_cols, group_keys=False).apply(_per_group)
/tmp/ipython-input-1204755042.py:19: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return df.groupby(group_cols, group_keys=False).apply(_per_group)

,state,district,month,age_0_5,age_5_17,age_18_greater,enr_total,bio_age_5_17,bio_age_17_,bio_total,...,demo_total,enr_total_exp,enr_total_std,enr_total_z,bio_total_exp,bio_total_std,bio_total_z,demo_total_exp,demo_total_std,demo_total_z
0,100000,100000,2025-09-01,0.0,0.0,12.0,12.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100000,100000,2025-10-01,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100000,100000,2025-11-01,0.0,0.0,11.0,11.0,0.0,0.0,0.0,...,0.0,8.0,6.082763,0.493197,0.0,NaN,NaN,0.0,NaN,NaN
3,100000,100000,2025-12-01,0.0,0.0,194.0,194.0,0.0,0.0,0.0,...,2.0,54.5,93.132522,1.497866,0.0,NaN,NaN,0.5,1.0,1.5
4,Andaman & Nicobar Islands,Andamans,2025-03-01,0.0,0.0,0.0,0.0,16.0,193.0,209.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Ratios: biometric/enrolment and demographic/enrolment
dist_month_z["ratio_bio_enr"]  = dist_month_z["bio_total"]  / dist_month_z["enr_total"].replace(0, np.nan)
dist_month_z["ratio_demo_enr"] = dist_month_z["demo_total"] / dist_month_z["enr_total"].replace(0, np.nan)

for col in ["ratio_bio_enr", "ratio_demo_enr"]:
    dist_month_z = add_z_scores(dist_month_z, ["state", "district"], col, window=6)

dist_month_z.head()

/tmp/ipython-input-1204755042.py:19: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return df.groupby(group_cols, group_keys=False).apply(_per_group)
/tmp/ipython-input-1204755042.py:19: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return df.groupby(group_cols, group_keys=False).apply(_per_group)

,state,district,month,age_0_5,age_5_17,age_18_greater,enr_total,bio_age_5_17,bio_age_17_,bio_total,...,demo_total_std,demo_total_z,ratio_bio_enr,ratio_demo_enr,ratio_bio_enr_exp,ratio_bio_enr_std,ratio_bio_enr_z,ratio_demo_enr_exp,ratio_demo_enr_std,ratio_demo_enr_z
0,100000,100000,2025-09-01,0.0,0.0,12.0,12.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1,100000,100000,2025-10-01,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,100000,100000,2025-11-01,0.0,0.0,11.0,11.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.000000,0.0,NaN,NaN,0.000000,NaN,NaN
3,100000,100000,2025-12-01,0.0,0.0,194.0,194.0,0.0,0.0,0.0,...,1.0,1.5,0.0,0.010309,0.0,NaN,NaN,0.002577,0.005155,1.5
4,Andaman & Nicobar Islands,Andamans,2025-03-01,0.0,0.0,0.0,0.0,16.0,193.0,209.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
def row_risk(r):
    z_enr  = np.nan_to_num(r["enr_total_z"])
    z_bio  = np.nan_to_num(r["bio_total_z"])
    z_demo = np.nan_to_num(r["demo_total_z"])
    z_rbe  = np.nan_to_num(r["ratio_bio_enr_z"])
    z_rde  = np.nan_to_num(r["ratio_demo_enr_z"])
    return (
        1.0 * abs(z_enr) +
        1.5 * abs(z_bio) +
        1.0 * abs(z_demo) +
        2.0 * abs(z_rbe) +
        1.5 * abs(z_rde)
    )

dist_month_z["risk_score"] = dist_month_z.apply(row_risk, axis=1)

In [20]:
threshold = dist_month_z["risk_score"].quantile(0.99)

high_risk = (dist_month_z
    .loc[dist_month_z["risk_score"] >= threshold]
    .sort_values("risk_score", ascending=False))

high_risk[[
    "state", "district", "month",
    "enr_total", "bio_total", "demo_total",
    "enr_total_z", "bio_total_z", "demo_total_z",
    "ratio_bio_enr", "ratio_bio_enr_z",
    "ratio_demo_enr", "ratio_demo_enr_z",
    "risk_score"
]].head(50)

,state,district,month,enr_total,bio_total,demo_total,enr_total_z,bio_total_z,demo_total_z,ratio_bio_enr,ratio_bio_enr_z,ratio_demo_enr,ratio_demo_enr_z,risk_score
762,Assam,Dima Hasao,2025-12-01,3.0,10.0,135.0,-0.666601,1.469085,1.769832,3.333333,1.917649,45.000000,1.995047,11.467928
5085,Nagaland,Dimapur,2025-12-01,54.0,3656.0,1819.0,-1.150476,1.514920,1.025493,67.703704,2.019097,33.685185,1.982278,11.459960
4699,Maharashtra,Satara,2025-09-01,1321.0,39301.0,7908.0,1.941525,1.928511,0.977498,29.750946,-1.424693,5.986374,1.788854,11.344456
4934,Meghalaya,South West Garo Hills,2025-10-01,206.0,854.0,874.0,-1.086880,1.739454,0.835199,4.145631,2.031655,4.242718,1.656670,11.079577
843,Assam,Karimganj,2025-12-01,1523.0,10118.0,13432.0,-0.527146,1.909417,1.439872,6.643467,1.782395,8.819435,1.688447,10.928604
7439,Uttar Pradesh,Bahraich,2025-12-01,2245.0,25919.0,38566.0,-0.970751,1.352005,1.443558,11.545212,1.847318,17.178619,1.825570,10.875307
4961,Meghalaya,West Jaintia Hills,2025-10-01,377.0,1032.0,629.0,-1.497475,1.527435,0.564567,2.737401,2.036746,1.668435,1.505144,10.684403
1331,Bihar,Siwan,2025-09-01,4297.0,9304.0,22042.0,2.007420,-1.665822,1.001586,2.165232,-1.452256,5.129625,1.500000,10.662251
1980,Gujarat,Banas Kantha,2025-12-01,27.0,173.0,185.0,-0.561587,1.355524,1.429296,6.407407,1.891084,6.851852,1.882868,10.630639
5159,Nagaland,Peren,2025-12-01,8.0,322.0,310.0,-1.338023,-1.116276,0.540127,40.250000,2.017132,38.750000,2.009640,10.601288
4916,Meghalaya,Ri Bhoi,2025-10-01,460.0,963.0,1043.0,-1.113106,1.941176,0.647693,2.093478,2.005741,2.267391,1.211522,10.501327
970,Assam,West Karbi Anglong,2025-12-01,50.0,689.0,348.0,-1.103311,1.020022,1.197449,13.780000,1.884753,6.960000,1.922418,10.483925
5957,Punjab,Kapurthala,2025-09-01,508.0,3425.0,3031.0,0.406746,-1.886259,1.905950,6.742126,-1.292009,5.966535,1.788854,10.409386
967,Assam,West Karbi Anglong,2025-09-01,179.0,690.0,255.0,-0.529461,1.885560,0.792828,3.854749,1.780001,1.424581,1.788854,10.393911
8416,West Bengal,Jalpaiguri,2025-09-01,3257.0,8241.0,55156.0,1.959099,-0.831956,1.898013,2.530243,-1.299480,16.934602,1.788854,10.387289
798,Assam,Hojai,2025-12-01,423.0,4692.0,5873.0,-0.806471,1.388680,1.082900,11.092199,1.781274,13.884161,1.872402,10.343542
4927,Meghalaya,South Garo Hills,2025-12-01,18.0,94.0,339.0,-1.471509,-1.029681,0.165128,5.222222,2.035665,18.833333,2.031053,10.299068
702,Assam,Cachar,2025-12-01,1033.0,9985.0,12398.0,-0.894953,1.421134,0.821474,9.666021,1.925544,12.001936,1.731297,10.296162
1115,Bihar,Kaimur (Bhabua),2025-09-01,2125.0,6577.0,19743.0,1.821522,-1.240484,1.806399,3.095059,-1.040866,9.290824,1.788854,10.253661
1182,Bihar,Munger,2025-09-01,1615.0,4059.0,14322.0,1.807611,-1.422302,1.288765,2.513313,-1.354226,8.868111,1.500000,10.188281
5084,Nagaland,Dimapur,2025-11-01,213.0,3051.0,1710.0,-0.882825,1.235436,1.318652,14.323944,1.851391,8.028169,1.594311,10.148880
8148,Uttarakhand,Haridwar,2025-12-01,1021.0,51061.0,16762.0,0.068166,1.964479,1.415887,50.010774,1.687286,16.417238,1.515615,10.078765
4571,Maharashtra,Mumbai Suburban,2025-12-01,2183.0,27809.0,41390.0,-0.271928,1.602956,1.495368,12.738891,1.669495,18.960147,1.707099,10.071369
5094,Nagaland,Kiphire,2025-12-01,21.0,243.0,316.0,-1.088371,-1.353347,0.713233,11.571429,1.785882,15.047619,1.778195,10.070681
1937,Gujarat,Ahmadabad,2025-12-01,156.0,2850.0,2708.0,-0.561530,1.291545,1.209364,18.269231,1.848207,17.358974,1.770123,10.059809
4873,Meghalaya,East Garo Hills,2025-12-01,30.0,100.0,516.0,-1.213962,-1.156846,-0.028846,3.333333,2.031570,17.200000,2.011523,10.058501
4880,Meghalaya,East Jaintia Hills,2025-10-01,228.0,596.0,344.0,-1.179274,1.778752,0.519887,2.614035,2.024634,1.508772,1.091092,10.053196
2663,Jammu and Kashmir,Anantnag,2025-12-01,691.0,11675.0,7084.0,0.296718,1.913351,1.707971,16.895803,1.489124,10.251809,1.466425,10.052601
4662,Maharashtra,Raigad,2025-12-01,389.0,2240.0,9494.0,-0.330373,1.413341,1.779075,5.758355,1.680041,24.406170,1.629534,10.033842
1251,Bihar,Purnia,2025-09-01,5375.0,18703.0,32665.0,1.887327,-1.526321,1.423929,3.479628,-1.061365,6.077209,1.500000,9.973468
2616,Jammu & Kashmir,Jammu,2025-12-01,6.0,65.0,70.0,-1.471734,1.409428,1.142760,10.833333,1.498436,11.666667,1.490854,9.961788
8139,Uttarakhand,Hardwar,2025-12-01,16.0,418.0,432.0,-1.473080,1.266530,1.386693,26.125000,1.476718,27.000000,1.495844,9.956770
780,Assam,Golaghat,2025-12-01,538.0,3717.0,5146.0,-0.815505,1.556688,0.796044,6.908922,1.810693,9.565056,1.588649,9.950941
4718,Maharashtra,Solapur,2025-10-01,1878.0,17695.0,38891.0,0.557658,-1.785021,1.929771,9.422258,-1.087841,20.708733,1.727937,9.932548
644,Arunachal Pradesh,West Kameng,2025-12-01,21.0,1056.0,420.0,-0.770488,1.777692,0.600097,50.285714,1.782364,20.000000,1.540902,9.913203
778,Assam,Golaghat,2025-10-01,736.0,2379.0,3767.0,-0.968183,1.273275,0.933683,3.232337,1.862945,5.118207,1.562684,9.881694
8211,Uttarakhand,Uttarkashi,2025-12-01,291.0,6125.0,2686.0,0.670433,1.843124,1.423389,21.048110,1.448690,9.230241,1.415061,9.878478
1217,Bihar,Pashchim Champaran,2025-09-01,33.0,61.0,406.0,-0.712488,1.408992,1.788854,1.848485,1.500000,12.303030,1.500000,9.864830
4804,Manipur,Imphal West,2025-11-01,358.0,16725.0,36493.0,1.238923,1.101972,2.018106,46.717877,1.362266,101.935754,1.472554,9.843351
1079,Bihar,Gaya,2025-09-01,5652.0,12342.0,52589.0,1.690500,-1.201047,1.233670,2.183652,-1.216363,9.304494,1.788854,9.841747
1200,Bihar,Nalanda,2025-09-01,3687.0,8824.0,63211.0,1.647541,-1.511022,1.895053,2.393274,-1.142643,17.144291,1.154701,9.826463
5134,Nagaland,Mon,2025-12-01,61.0,916.0,801.0,-0.928246,-1.326869,0.573679,15.016393,1.688341,13.131148,1.964877,9.816228
4871,Meghalaya,East Garo Hills,2025-10-01,239.0,153.0,640.0,-1.333266,-1.788572,0.444969,0.640167,1.478844,2.677824,1.568103,9.770936
8095,Uttarakhand,Almora,2025-12-01,272.0,8138.0,4536.0,0.240108,1.933868,1.458336,29.919118,1.484583,16.676471,1.459868,9.758213
4010,Madhya Pradesh,Indore,2025-07-01,4994.0,33715.0,33698.0,1.755804,1.483118,1.524056,6.751101,-1.264265,6.747697,-1.136038,9.737125
4889,Meghalaya,East Khasi Hills,2025-10-01,1401.0,1683.0,2585.0,-1.178427,-1.054176,1.070893,1.201285,1.769056,1.845111,1.543516,9.683970
7903,Uttar Pradesh,Moradabad,2025-12-01,1688.0,20238.0,30430.0,-1.115694,0.616370,1.423310,11.989336,1.819147,18.027251,1.706072,9.660962
2718,Jammu and Kashmir,Ganderbal,2025-12-01,178.0,2725.0,1941.0,0.320026,1.711345,1.720954,15.308989,1.418774,10.904494,1.476091,9.659681
8135,Uttarakhand,Garhwal,2025-12-01,4.0,141.0,150.0,-1.095445,1.432782,1.273408,35.250000,1.471809,37.500000,1.464034,9.657696
1693,Chhattisgarh,Surajpur,2025-12-01,659.0,13645.0,13191.0,0.397867,1.798329,1.547631,20.705615,1.379781,20.016692,1.497498,9.648799

In [21]:
OUTPUT_DIR = DATA_DIR

dist_month_z.to_csv(OUTPUT_DIR + "/aadhaar_district_month_with_risk.csv", index=False)
high_risk.to_csv(OUTPUT_DIR + "/aadhaar_district_month_high_risk.csv", index=False)